<!doctype html>
<html lang="en">
  <head>
    <% include ./head %>

  </head>

  

  <!-- <container> -->
    <body class="d-flex h-100 text-center">

        
    
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        
        <% include ./header %>
        
        <br><br><br>
        <br><br><br>
        <br><br><br>

        <main class="px-3">
            <h1>File Storage System</h1>
            <br>
            <p class="lead">원하는 모든 파일을 업로드하세요!</p>
            <p class="lead">파일의 키워드를 통해 한 눈에 파일을 파악하고, <br> 키워드를 사용해 손쉽게 원하는 파일을 검색할 수 있습니다</p>
            <p class="lead">
            </p>
        </main>

        <br>
        <p>
          <a href="/auth/google"><button type="button" class="btn btn-success btn-lg">Login with google!</button></a>
        </p>
        
        </div>

        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </body>
  <!-- </container> -->
</html>